article.answer {
  display: flex;
  flex-direction: column;
  background: #ffffff11;
  border-radius: 6px;
  padding: 0.5rem;
  row-gap: 0;
  max-height: min-content;
  margin-top: 0.75rem;
  /*flex: 1 1 100%;*/
}

article.answer h3,
article.answer span {
  text-align: left;
  display: flex;
  flex: 1 1 100%;
  font-size: 1rem;
}

article.answer h3 {
  height: 1.25rem;
  line-height: 1.25rem;
  margin: 0 0 0.35rem 0;
  font-weight: 600;
}

article.answer span.working {
  color: #0078d7dd;
}

article.working {
  animation: working-answer 1s linear 0s infinite alternate;
}

@keyframes working-answer {
  from {
    border: 1px solid #0078d7ff;
    box-shadow: 0 4px 8px #0078d766;
  }
  to {
    border: 1px solid #ffffff00;
    box-shadow: 0 2px 4px #ffffff00;
  }
}
