#root {
  max-width: 1440px;
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #0a0a12;
}

#historyContainer,
textarea {
  height: 2rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  resize: none;
  background: #1b1a2388;
  border-color: #1b1a23;
  color: #ffffffaa;
  border-radius: 6px;
}

#historyContainer {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

textarea:focus {
  outline: 1px solid #3b3850;
}

#history {
  height: 30rem;
}

button {
  padding: 0rem 0.5rem;
  height: 2.5rem;
  background: #0078d7;
  border: 1px solid #0078d7;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  /*box-shadow: 0 4px 8px #72aedf;*/
}

div.response {
  color: #ffffffaa;
  font-weight: 600;
}
